{% extends "market/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="main-buying">
  <section class="buying-text">
    <h2 class="buying-title">
      {{ product.name }}
    </h2>
    <p class="buying-instruction">
      {{ product.description }}
      <a href="#" class="instruction-modal" id="instruction-link">
        Инструкция по установке
      </a>
    </p>
    <div class="buying-order-in">
      <div class="buying-price">
        <span class="card-price buying__price">{{ product.price }} ₽</span>
        {% if product.old_price %}
        <span class="card-price-discount">{{ product.old_price }} ₽</span>
        {% endif %}
      </div>
      <button class="add-cart">
        <a class="add-card-button" href="{% url 'cart:cart_add' product.pk %}">В корзину</a>
      </button>
    </div>
  </section>
  <div class="buying-card">
    {% for img in product.images %}
    <img src="{{ img.photo.url }}" alt="card 1" class="buy-cards" />
    {% endfor %}
  </div>
</div>
<section class="more-masks">
  <h2 class="more-title">
    Ещё маски в этой категории
  </h2>
</section>
<div class="cards">
  {% for product in products %}
  <div class="card">
    <img src="{{ product.preview.url }}" class="card-image" />
    <div class="card-text">
      <h3 class="card-title">{{ product.name }}</h3>
      <div class="price">
        <span class="card-price">{{ product.price }} ₽</span>
        {% if product.old_price %}
        <span class="card-price-discount">{{ product.old_price }} ₽</span>
        {% endif %}
      </div>
    </div>
    <div class="buttons-card">
      <button class="button-buy">
        {% if not selected_category %}
        <a href="{% url 'market:product_detail' product_type 'all' product.pk %}{{ parameters }}"
          class="button-buy-text">
          Купить
        </a>
        {% else %}
        <a href="{% url 'market:product_detail' product_type selected_category product.pk %}{{ parameters }}"
          class="button-buy-text">
          Купить
        </a>
        {% endif %}
      </button>
      {% if product.video_link %}
      <a data-fancybox href="{{ product.video_link }}" class="youtube-play">
        <button class="button-play"></button>
      </a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<div class="col my-auto">
  {% bootstrap_pagination page url=ordering %}
</div>

{% block order_product %}
<div class="make-masks">
  <section class="make-mask">
    <p class="make-mask-text">
      Не нашли ничего подходящего? <br />
      Закажите&nbsp;свою&nbsp;маску&nbsp;или&nbsp;фильтр&nbsp;для&nbsp;Инстаграма.
    </p>
    <button class="make-mask-button">
      <a href="{% url 'market:order_product' %}{{ parameters }}" class="make-mask-button-text">
        Заказать маску или фильтр
      </a>
    </button>
  </section>
</div>
{% endblock order_product %}
{% endblock content %}

{% block modals %}
{{ block.super }}
<div class="modal-instruction">
  <div class="modal-dialog">
    <div class="modal-header">
      <h2 class="modal-title">
        Видео-инструкция по базе
      </h2>
      <button class="close-instruction">&times;</button>
    </div>
    <div class="instruction-video">
      <iframe width="500" height="258" src="https://www.youtube.com/embed/lzgmAAAvj4o" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="instruction-list">
      <ul>
        <li class="list-instruction">
          1. Разнообразный и богатый опыт укрепление и развитие структуры
          требуют определения
        </li>
        <li class="list-instruction">2. Уточнения новых предложений</li>
        <li class="list-instruction">
          3. Разнообразный и богатый опыт сложившаяся структура
        </li>
        <li class="list-instruction">
          4. Организации влечет за собой процесс внедрения
        </li>
        <li class="list-instruction">
          5. Модернизации направлений прогрессивного развития
        </li>
        <li class="list-instruction">
          6. Задача организации, в особенности же дальнейшее развитие
          различных форм деятельности играет важную роль в формировании
          направлений прогрессивного развития.
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock modals %}