{% extends "market/base.html" %}
{% load static %}

{% block content %}
<div class="container-payment">
  <div class="successful-payment">
    <div class="payment-header">
      <img src="img/done_icon.svg" alt="done" class="done-icon" />
      <h1 class="paymet-title">
        Оплата совершена, ожидайте письмо на указанную почту
      </h1>
    </div>
    <div class="payment-body">
      <p class="payment-text">
        Если вам не пришло письмо, проверьте папку спам. В случае, если
        письмо не пришло вам на почту, напишите нам на
        <span class="payment-link">agency@mitroshina.org</span> <br /><br />
        <span class="payment-bold">
          Обязательно укажите ваш номер заказа — 115
        </span>
      </p>
      <button class="payment-button">
        <span class="payment-button-text">
          На главную
        </span>
      </button>
    </div>
  </div>
</div>
{% endblock content %}

{% block fancybox %}{% endblock fancybox %}

{% block scripts %}
{{ block.super }}
<script>
  const modalBasket = document.getElementById("basket-button");
  const getModalBasket = document.querySelector(".modal-basket");
  const closeModalBasket = document.querySelector(".close-basket");

  modalBasket.addEventListener("click", toggleModalBasket);
  closeModalBasket.addEventListener("click", toggleModalBasket);

  function toggleModalBasket() {
    getModalBasket.classList.toggle("is-open-basket");
  }
</script>
{% endblock scripts %}