{% extends "base.html" %}
{% load static %}

{% block basket_btn %}{% endblock basket_btn %}

{% block content %}
<div class="total-goods">
  <div class="total-good">
    <span class="total-text">
      Всего 5 товаров <br />
      На сумму: 15 590 ₽
    </span>
    <button class="payment-button pay-button" id="button-payment">
      Оплатить
    </button>
  </div>
</div>
<div class="cards">
  <div class="card">
    <img src="img/card-img1.jpg" alt="card-img1" class="card-image" />
    <div class="card-text">
      <h3 class="card-title">Garlic Crown</h3>
      <div class="price">
        <span class="card-price">888 888 ₽</span>
        <span class="card-price-discount">999 999 ₽</span>
      </div>
    </div>
    <div class="buttons-card">
      <a href="#" class="delete-card">Удалить</a>
    </div>
  </div>
  <!-- /.card -->
  <div class="card">
    <img src="img/card-img2.jpg" alt="card-img1" class="card-image" />
    <div class="card-text">
      <h3 class="card-title">Green Goddes</h3>
      <div class="price">
        <span class="card-price">400 ₽</span>
      </div>
    </div>
    <div class="buttons-card">
      <a href="#" class="delete-card">Удалить</a>
    </div>
  </div>
  <!-- /.card -->
  <div class="card">
    <img src="img/card-img3.jpg" alt="card-img1" class="card-image" />
    <div class="card-text">
      <h3 class="card-title">Осень красивая</h3>
      <div class="price">
        <span class="card-price">310 ₽</span>
      </div>
    </div>
    <div class="buttons-card">
      <a href="#" class="delete-card">Удалить</a>
    </div>
  </div>
  <!-- /.card -->
  <div class="card">
    <img src="img/card-img4.jpg" alt="card-img1" class="card-image" />
    <div class="card-text">
      <h3 class="card-title">Снедурочка</h3>
      <div class="price">
        <span class="card-price">500 ₽</span>
      </div>
    </div>
    <div class="buttons-card">
      <a href="#" class="delete-card">Удалить</a>
    </div>
  </div>
  <!-- /.card -->
  <div class="card">
    <img src="img/card-img1.jpg" alt="card-img1" class="card-image" />
    <div class="card-text">
      <h3 class="card-title">Garlic Crown</h3>
      <div class="price">
        <span class="card-price">888 888 ₽</span>
        <span class="card-price-discount">999 999 ₽</span>
      </div>
    </div>
    <div class="buttons-card">
      <a href="#" class="delete-card">Удалить</a>
    </div>
  </div>
  <!-- /.card -->
</div>
<!-- /.cards -->
{% endblock content %}

{% block modals %}
{{block.super}}
<div class="modal-email">
  <div class="modal-email-dialog">
    <div class="header-email">
      <h2 class="email-title">Введите e-mail</h2>
      <button class="close-email">&times;</button>
    </div>
    <div class="email-body">
      <span class="email-text">
        Введите реальный e-mail адрес. После оплаты на него придет письмо с
        вашим заказом и инструкцией по установке.
      </span>
      <form action="">
        <div class="form-email">
          <label for="" class="email-form-text">Ваш e-mail</label>
          <input type="text" class="input-email" />
          <button class="email-payment">
            <span class="make-mask-button-text">Перейти к оплате</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock modals %}

{% block scripts %}
<script>
  const modalEmail = document.querySelector(".pay-button");
  const getModalEmail = document.querySelector(".modal-email");
  const closeModalEmail = document.querySelector(".close-email");

  modalEmail.addEventListener("click", toggleModalEmail);
  closeModalEmail.addEventListener("click", toggleModalEmail);

  function toggleModalEmail() {
    getModalEmail.classList.toggle("is-open-email");
  }
</script>
{% endblock scripts %}