{% extends "base.html" %}
{% laod static  %}

{% block content %}
<main class="make-form">
  <div class="order-mask">
    <h4 class="form-title">
      Индивидуальное создание масок или фильтров для Инстаграма стоит <br />
      <span class="form-title-bold">от 5 000 ₽</span>
    </h4>
    <form action="#">
      <div class="form-make-text">
        <label for="#" class="information">Ваш телефон</label>
        <input type="text" class="form-input" />
        <label for="#" class="information">Ваш e-mail</label>
        <input type="text" class="form-input" />

        <label for="" class="information">Напишите подробное тз на маску или фильтр, чтобы мы могли
          ответить вам быстрее</label>
        <textarea name="" id="" cols="30" rows="10" class="make-textarea"></textarea>
        <span class="information">
          Вы можете приложить эскиз<br />
          <span class="form-title-darkened">(не обязательно)</span>
        </span>
        <label for="file-upload" class="custom-file-upload"><span
            class="upload-text">Загрузить&nbsp;файлы</span></label>
        <input id="file-upload" type="file" class="upload-file" />
      </div>
      <div class="politics">
        <input id="custom-checkbox" type="checkbox" class="politic" /><label for="custom-checkbox"
          class="politic-text">Я соглашаюсь с
          <a href="#" class="politic-link main-link">Политикой конфиденциальности</a>
          и
          <a href="#" class="rule-link main-link">Правилами пользования сайтом</a></label>
        <input id="custom-checkbox-link" type="checkbox" class="politic" />
        <label for="custom-checkbox-link" class="politic-text">
          Я соглашаюсь получать рекламные материалы от
          <a href="#" class="main-link">easyprbot.com</a></label>
      </div>
      <input type="submit" value="Отправить заявку" class="submit-make-mask" />
    </form>
  </div>
</main>
{% endblock content %}

{% block fancybox %}{% endblock fancybox %}

{% block scripts %}
{{ block.super }}
<script>
  const modalBasket = document.getElementById("basket-button");
  const getModalBasket = document.querySelector(".modal-basket");
  const closeModalBasket = document.querySelector(".close-basket");

  modalBasket.addEventListener("click", toggleModalBasket);
  closeModalBasket.addEventListener("click", toggleModalBasket);

  function toggleModalBasket() {
    getModalBasket.classList.toggle("is-open-basket");
  }
</script>
{% endblock scripts %}