<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700,900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/style.css" />
  <title>Mask</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <div class="header-logo">
        <img src="img/logo.jpg" alt="logo" class="header__logo" />
        <div class="header-title">
          <span class="header-text">Easyprbot</span>
          <span class="header-link">@easyprbot</span>
        </div>
      </div>
      <nav class="menu">
        <ul class="navigation">
          <a href="#" class="link-item">
            <li class="list-item">База&nbsp;блогеров</li>
          </a>
          <a href="#" class="link-item">
            <li class="list-item">Отзывы</li>
          </a>
          <a href="#" class="link-item">
            <li class="list-item">ВП&nbsp;на&nbsp;завтра</li>
          </a>
          <a href="#" class="link-item">
            <li class="list-item">Мой&nbsp;трекер</li>
          </a>
          <a href="#" class="link-item">
            <li class="list-item">Гивы</li>
          </a>
          <a href="#" class="link-item">
            <li class="list-item">
              Маркет&nbsp;масок&nbsp;и&nbsp;фильтров
            </li>
          </a>
        </ul>
      </nav>
      <button class="basket-button" id="basket-button">
        <img src="img/basket.jpg" alt="basket" class="basket-img" />
        <span class="text-button">Корзина</span>
      </button>
    </header>
  </div>
  <main class="make-form">
    <div class="order-mask">
      <h4 class="form-title">
        Индивидуальное создание масок или фильтров для Инстаграма стоит <br />
        <span class="form-title-bold">от 5 000 ₽</span>
      </h4>
      <form action="#">
        <div class="form-make-text">
          <label for="#" class="information">Ваш телефон</label>
          <input type="text" class="form-input" />
          <label for="#" class="information">Ваш e-mail</label>
          <input type="text" class="form-input" />

          <label for="" class="information">Напишите подробное тз на маску или фильтр, чтобы мы могли
            ответить вам быстрее</label>
          <textarea name="" id="" cols="30" rows="10" class="make-textarea"></textarea>
          <span class="information">
            Вы можете приложить эскиз<br />
            <span class="form-title-darkened">(не обязательно)</span>
          </span>
          <label for="file-upload" class="custom-file-upload"><span
              class="upload-text">Загрузить&nbsp;файлы</span></label>
          <input id="file-upload" type="file" class="upload-file" />
        </div>
        <div class="politics">
          <input id="custom-checkbox" type="checkbox" class="politic" /><label for="custom-checkbox"
            class="politic-text">Я соглашаюсь с
            <a href="#" class="politic-link main-link">Политикой конфиденциальности</a>
            и
            <a href="#" class="rule-link main-link">Правилами пользования сайтом</a></label>
          <input id="custom-checkbox-link" type="checkbox" class="politic" />
          <label for="custom-checkbox-link" class="politic-text">
            Я соглашаюсь получать рекламные материалы от
            <a href="#" class="main-link">easyprbot.com</a></label>
        </div>
        <input type="submit" value="Отправить заявку" class="submit-make-mask" />
      </form>
    </div>
  </main>
  <footer class="footer">
    <a href="#" class="footer-link">Пользовательское соглашение</a>
    <a href="#" class="footer-link">Политика конфиденциальности</a>
    <a href="#" class="footer-link">Написать в техподдержку</a>
  </footer>

  <div class="modal-basket">
    <div class="modal-basket-dialog">
      <div class="header-basket">
        <h2 class="basket-title">
          Ваша корзина пуста
        </h2>
        <button class="close-basket">&times;</button>
      </div>
      <div class="basket-body">
        <form action="#">
          <div class="basket-form">
            <div class="basket-search">
              <label for="№" class="search-text">Найдите маски и фильтры в нашем каталоге, добавьте их в
                корзину и возвращайтесь снова.</label>
              <button class="button-search-basket">
                <span class="make-mask-button-text">Найти маски и фильтры</span>
              </button>
            </div>
            <div class="order-masks">
              <label for="" class="order-text">
                Не нашли ничего подходящего? <br />
                Закажите свою маску или фильтр для Инстаграма. <br />
              </label>
              <button class="button-order-mask">
                <span class="make-mask-button-text">Заказать маску или фильтр</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    const modalBasket = document.getElementById("basket-button");
    const getModalBasket = document.querySelector(".modal-basket");
    const closeModalBasket = document.querySelector(".close-basket");

    modalBasket.addEventListener("click", toggleModalBasket);
    closeModalBasket.addEventListener("click", toggleModalBasket);

    function toggleModalBasket() {
      getModalBasket.classList.toggle("is-open-basket");
    }
  </script>
  <script src="js/main.js"></script>
</body>

</html>