{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<section class="pick">
    <a href="{% url 'market:product_list' 'mask' %}" class="masks-pick-{{ pick_class }}">Маски</a>
    <a href="{% url 'market:product_list' 'filter' %}" class="filters-pick-{{ pick_class }}">Фильтры</a>
    <span class="instruction">Маски и фильтры продаются в единственном экземпляре.
        <a href="#" class="instruction-modal" id="instruction-link">
            Инструкция по установке.
        </a></span>
</section>
<section class="select-category">
    <div class="select-container">
        <h5 class="select-title">Выберите категорию</h5>
        <div class="button-select">
            <a {% if not selected_category %}class="button-category-selected" {% else %}class="button-category"
                {% endif %} href="{% url 'market:product_list' product_type %}{{ all }}">
                {% if product_type == 'mask' %} Все маски {% else %} Все фильтры {% endif %}
            </a>
            {% for category in categories %}
            <a {% if category.slug == selected_category.slug %}class="button-category-selected"
                {% else %}class="button-category" {% endif %}
                href="{% url 'market:product_list_by_category' product_type category.slug %}{{ all }}">{{ category.name }}</a>
            {% endfor %}
        </div>
        <div class="link-sort">
            <form id="filter_form" method="GET" onchange="submit()">
                {{ filter_form }}
            </form>
        </div>
    </div>
</section>
<div class="cards">
    {% for product in products %}
    <div class="card">
        <img src="{{ product.preview.url }}" class="card-image" />
        <div class="card-text">
            <h3 class="card-title">{{ product.name }}</h3>
            <div class="price">
                <span class="card-price">{{ product.price }} ₽</span>
                {% if product.old_price %}
                <span class="card-price-discount">{{ product.old_price }} ₽</span>
                {% endif %}
            </div>
        </div>
        <div class="buttons-card">
            <button class="button-buy">
                <a href="{{ product.get_absolute_url }}" class="button-buy-text">
                    Купить
                </a>
            </button>
            {% if product.video_link %}
            <a data-fancybox href="{{ product.video_link }}" class="youtube-play">
                <button class="button-play"></button>
            </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="col my-auto">
    {% bootstrap_pagination page url=ordering %}
</div>

{% block order_product %}
<div class="make-masks">
    <section class="make-mask">
        <p class="make-mask-text">
            Не нашли ничего подходящего? <br />
            Закажите&nbsp;свою&nbsp;маску&nbsp;или&nbsp;фильтр&nbsp;для&nbsp;Инстаграма.
        </p>
        <button class="make-mask-button">
            <a href="{% url 'market:order_product' %}" class="make-mask-button-text">
                Заказать маску или фильтр
            </a>
        </button>
    </section>
</div>
{% endblock order_product %}
{% endblock content %}

{% block modals %}
{{ block.super }}
<div class="modal-instruction">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2 class="modal-title">
                Видео-инструкция по базе
            </h2>
            <button class="close-instruction">&times;</button>
        </div>
        <div class="instruction-video">
            <iframe width="500" height="258" src="https://www.youtube.com/embed/lzgmAAAvj4o" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="instruction-list">
            <ul>
                <li class="list-instruction">
                    1. Разнообразный и богатый опыт укрепление и развитие
                    структуры требуют определения
                </li>
                <li class="list-instruction">2. Уточнения новых предложений</li>
                <li class="list-instruction">
                    3. Разнообразный и богатый опыт сложившаяся структура
                </li>
                <li class="list-instruction">
                    4. Организации влечет за собой процесс внедрения
                </li>
                <li class="list-instruction">
                    5. Модернизации направлений прогрессивного развития
                </li>
                <li class="list-instruction">
                    6. Задача организации, в особенности же дальнейшее развитие
                    различных форм деятельности играет важную роль в
                    формировании направлений прогрессивного развития.
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock modals %}