.object-tools {
    float: left;
}

.object-tools li {
    margin: 0;
}

#content-main {
    margin-top: 70px;
}

#changelist .actions {
    padding: 10px 0;
}

#changelist .actions span.all, 
#changelist .actions span.action-counter, 
#changelist .actions span.clear, 
#changelist .actions span.question {
    display: block;
    margin: 10px 0;
}

.field-name, .field-creator {
    width: 185px;
}

.field-get_price {
    width: 125px;
}

@media (max-width: 766px){
    #content-main {
        margin-top: 20px;
    }
}
